/* button */
.btn1{
   background :rgb(80, 9, 146) ;
}
/* product */
.wrapper::-webkit-scrollbar{
    width: 0;
}
.wrapper{
    overflow: auto;
    
}
/* services */
.para0{
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow:hidden;
    line-height: 2;
  
}
.para{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
 
    text-overflow: ellipsis;
}